
#calc-btn{
    background-color: skyblue;
    border: 0;
    border-radius: 5px;
    padding: 5px 35px;
}
#save-btn{
    background-color: skyblue;
    border: 0;
    border-radius: 5px;
    padding: 5px 35px;
}